<%- include('components/head', {title: "Fastech"}) -%>
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid px-0">
            <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
                <img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="images/main.png" alt="">
                <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                    <div class="text mt-5"><br><br>
                        <span class="subheading">WHO WE ARE</span>
                        <h1 class="mb-3"><span>Safe,</span> <span>Secure,</span> <span>Reliable.</span></h1>
                        <p>We are in the business of digital solutions. FasTech provides complete computer services and IT support to our customers in a friendly and helpful manner. Our team of experts offers a variety of services to local businesses and
                            home.
                        </p>
                        <br>
                        <p class="text-center"><a href="/set-an-appointment" class="btn btn-primary px-4 py-3">Set An Appointment</a></p>
                        <p class="text-center my-3"><a href="javascript:void(0)" class="btn btn-primary px-4 py-3" id="chatBtn">Chat with an Agent</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section services-section bg-light" id="services">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <img src="images/undraw_podcast_q6p7.svg" width="450px" height="400px" alt=""><br>
                    <span class="subheading1">WHAT WE DO</span>
                    <h2 class="mb-4">Our Services</h2>
                    <p>FasTech work together with you to turn your digital challenges into opportunities and develop cutting-edge solutions that are tailored to you.</p><br>
                </div>
            </div>
            <br><br>
            <div class="row">
                <p style="font-size: 12px;"><i>&nbsp &nbsp *Prices may still go below or beyond this range depending on the
            actual case diagnosis of the technician.</i></p>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-cloud"></span>
                        </div>
                        <div class="media-body pl-4">
                            <a href="service1.php">
                                <h3 class="heading">Troubleshooting & Networking Installation</h3>
                            </a>
                            <p class="mb-0"><i>Price Range: ₱1,500 - ₱4,000</i></p>
                            <p class="mb-0">These are the two most common types of computer repair services for businesses. These include network setup, training, network fixes, and related problems.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center order-md-last">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                            <a href="service3.php">
                                <h3 class="heading">Hardware & Software Repair and Installation</h3>
                            </a>
                            <p class="mb-0"><i>Price Range: ₱1,200 - ₱5,500</i></p>
                            <p>This is for physical damages that are incurred by the computer or its accessories. This includes installing new hardware, repair or updating hardware.Software repair services include Operating System and software installation
                                that is based on the terms of MIT's license agreements with software vendors.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-life-insurance"></span>
                        </div>
                        <div class="media-body pl-4">
                            <a href="service4.php">
                                <h3 class="heading">Virus and Malware Removal</h3>
                            </a>
                            <p class="mb-0"><i>Price Range: ₱1,700 - ₱5,000</i></p>
                            <p>In this service computer technicians ensure that the virus will be removed without risking the important data or information on your computer. You can also get virus removal services online, as well as complete services that
                                include all the steps that are required to get your computer up and running problem-free.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center order-md-last">
                            <span class="flaticon-cloud-computing"></span>
                        </div>
                        <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                            <a href="service5.php">
                                <h3 class="heading">Data Recovery & Backup Services</h3>
                            </a>
                            <p class="mb-0"><i>Price Range: ₱2,000 - ₱4,500</i></p>
                            <p>Sometimes, due to issues such as hardware crashes or a virus, your important data might get lost. It might not possible for you to recover the data, but professional computer technicians can recover the data by tracking information.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-settings"></span>
                        </div>
                        <div class="media-body pl-4">
                            <a href="service6.php">
                                <h3 class="heading">Maintenance Services, Systems Setup and Configuration</h3>
                            </a>
                            <p class="mb-0"><i>Price Range: ₱1,000 - ₱3,500</i></p>
                            <p>Your home and business computers require constant updating and tune-ups. This regular maintenance will not only enhance the working speed of your computer, but it will also increase its lifetime. Maintenance service includes
                                file cleanup, upgrading and installing new windows or programs and general inspections.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section ftco-counter img" id="section-counter">
        <div class="container">
            <br><br>
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <span class="subheading">Thousands of people and businesses trusted us</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <br><br>
                    <div class="row">
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="1000">0</strong>
                                    <span>Satisfied Customers</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="30">0</strong>
                                    <span>Awards Won</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="200">0</strong>
                                    <span>Registered Websites and Portals</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <strong class="number" data-number="16">0</strong>
                                    <span>Cities Catered</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading1">WHY CHOOSE US</span>
                    <h2 class="mb-4">Our Clients Say</h2>
                    <p>Our team has been on a mission to help organizations of various sizes solve digital challenges.</p>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel ftco-owl">
                        <div class="item">
                            <div class="testimony-wrap p-4 text-center">
                                <div class="user-img mb-4" style="background-image: url(images/person_3.png)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4">I found that you guys performed the work very professionally and that your response time, when issues were identified, was great. Overall, it has been great working together on this and I believe that we will have more
                                        work that we can do together in a near future. I will surely recommend you to my fellow architects who wants fast and reliable digital solutions.</p><br>
                                    <p class="name">Eric Dela Cruz, Taguig</p>
                                    <span class="position">Architect</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 text-center">
                                <div class="user-img mb-4" style="background-image: url(images/person_2.png)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4">I had a big problem when my business PCs had an issue and lots of our files were lost. I am really hesitant to go outside due to the pandemic, that is why when I found out about FasTech, I immediately booked a repair
                                        appointment with them. And I must say that FasTech really did a great job. My files were retrieved in less than an hour. Thank you so much FasTech!</p><br>
                                    <p class="name">Oliver Versoza, Quezon City</p>
                                    <span class="position">Entrepreneur</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 text-center">
                                <div class="user-img mb-4" style="background-image: url(images/persons_1.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4">Given the situation that we have right now wherein going outside is too risky for anyone's health, I found FasTech's home service repair shop as a life-saver. I am currently working from home as an ESL teacher and my
                                        computer suddenly stopped working. I contacted FasTech and I must say that their company name speaks for itself, for they were able to fix my problem immedately. Thank you FasTech!</p>
                                    <p class="name">Georgia Santos, Makati</p>
                                    <span class="position">ESL Teacher</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <section class="ftco-section bg-light" id="company">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3 ftco-animate">
                <div class="col-md-12 text-center heading-section ftco-animate">
                    <br><br><br>
                    <span class="subheading1">WHO WE ARE</span>
                    <h2>Our Company</h2>
                    <p>FasTech is the leading computer and laptop repair services partner for small businesses and home PC users in Metro Manila. We were able to delivered undoubtedly excellent service with competitive pricing to thousands of satisfied customers
                        nationwide. FasTech is the local company you can count on for all your computer repair and maintenance needs.
                        <br><br> We are a strong team of dedicated and trusted computer experts ready to undertake all the digital related tasks that help you meet your needs. We believe the best interactive experiences come from the sweet harmony of
                        safety, reliability and innovative use of technology.
                        <br><br> MCS provide hardware and software support and maintenance for the following laptop and desktop computer manufacturers Acer, Advent, Alienware, Apple Mac, Asus, Compaq, Dell, eMachines, Fujitsu, Gateway, HP, IBM, Lenovo,
                        LG, Mesh, MSI, NEC, Packard Bell, Panasonic, Philips, Samsung, Sharp, Sony VAIO, Toshiba and Generic brands computers and laptop. Our business-driven approach separates us from typical computer service provider and IT support,
                        we have built a reputation for creating a positive return on investment for our clients.
                        <br><br> Our main focus is always on the client’s business model and plans. We have never believed that the right approach to every situation is “more hardware”. Instead, we spend as much time looking at the business goals of the
                        clients as we do looking at the enterprise computing issues at hand. Our focus truly is on your business, and we believe that the more we know about how your company works, the more precise our solution will be.
                </div>
                </p>
                <div class="col-md-3 ftco-animate">
                    <br>
                    <p class="mb-0"><a href="developers.php" class="btn btn-primary py-3 px-4">Developers' Profile</a></p>
                </div>
            </div>
        </div>
        <br><br>
    </section>
    <div class="chat">
        <div class="chat-header w-100 bg-primary d-flex align-items-center  px-3 py-3">
            <span class="text-light">Live Chat</span>
        </div>
        <div class="chat-body h-100 w-100">
            <div class="row">
                <div class="col-12 text-center">
                    <small style="color: black; font-style: italic;">This is the start of your conversation</small>
                </div>
            </div>
        </div>
        <form class="mt-auto chat-input d-flex" action="#" id="chat-submit" style=" background-color: #fff;">
            <input type="text" class="form-control" name="chatMainInput" autocomplete="off" id="chatMainInput">
            <button class="btn btn-info">Send</button>
        </form>
    </div>
    </div>

    <%- include('components/footer') -%>