<%- include('components/head', {title: "Set an appointment"}) -%>
    <section class="ftco-section services-section bg-light">
        <div class="container">
            <br><br><br><br><br>
            <img src="images/welcome.png" alt="" width="75%" length="50%" style="margin-left: 13%;"><br>
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-14 text-center heading-section ftco-animate">
                    <span class="subheading1">WELCOME</span>
                    <h2 class="mb-4">You are now a FasTech member!</h2>
                    <p>Thank you for creating an account with us. We are looking forward to working with you soon. </p>
                </div>
                <div class="col-md-3 ftco-animate">
                    <p class="mb-0"><a href="index.php" class="btn btn-primary py-3 px-4">Go back to homepage</a>
                        <br><br>
                        <a href="login.php" class="btn btn-primary py-3 px-4">Log In to your account</a></p>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <%- include('components/footer') -%>