<%- include('components/head', {title: "Fastech"}) -%>
    <br><br><br><br><br><br><br>
    <div class="container mt-5 h-50 d-flex flex-column form-card" id="chat-area">
        <div class="chat-body">
        </div>
        <div class="row mt-auto">
            <div class="col-12">
                <form action="#" id="chat-submit" class="d-flex h-100">
                    <input type="text" class="form-control mx-1" id="chatMainInput">
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('components/footer') -%>