<%- include('components/head', {title: "Troubleshooting & Networking Installlation"}) -%>
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid px-0">
            <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
                <img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="images/1.png" alt="">
                <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                    <div class="text mt-5">
                        <span class="subheading">SERVICES</span>
                        <h1 class="mb-3"><span>Troubleshooting</span> <span>& Networking</span> <span> Installation</span></h1>
                        <p>These are the two most common types of computer repair services for businesses. These include network setup, training, network fixes, and related problems.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section bg-light" id="tech">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <br><br><br>
                    <h2 class="mb-4" style="margin-top:5px;">Security Posture Assessment (SPA)</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 nav-link-wrap mb-1 pb-md-5 pb-sm-1 ftco-animate">
                    <div class="nav ftco-animate nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-nextgen-tab" data-toggle="pill" href="#v-pills-nextgen" role="tab" aria-controls="v-pills-nextgen" aria-selected="true">Performance & Stress Test</a>
                        <a class="nav-link" id="v-pills-performance-tab" data-toggle="pill" href="#v-pills-performance" role="tab" aria-controls="v-pills-performance" aria-selected="false">Web Application VA</a>
                        <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-pills-effect" role="tab" aria-controls="v-pills-effect" aria-selected="false">Network VA</a>
                        <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-pills-effect1" role="tab" aria-controls="v-pills-effect1" aria-selected="false">Server VA</a>
                    </div>
                </div>
                <div class="col-md-12 align-items-center ftco-animate">
                    <div class="tab-content ftco-animate" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-nextgen" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                            <div class="d-md-flex">
                                <br>
                                <p>To perform simulated load testing to identify the crash point or the point where the perceptible slowdown is noticed in the request processing.</p>
                                <br><br>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-performance" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                            <div class="d-md-flex">
                                <br>
                                <p>To address OWASP Top 10 Vulnerability:<br><br> 1. Injection<br> 2.Broken Authentication and Session Management (XSS)<br> 3. Cross Site Scripting (XSS)<br> 4. Insecure Direct Object References<br> 5. Security Misconfiguration<br>                                    6. Sensitive Data Exposure<br> 7. Missing Function Level Access Control<br> 8. Cross Site Request Forgery (CSRF)<br> 9. Using Components with Known Vulnerabilities<br> 10. Unvalidated Redirects and Forwards<br><br>                                    Penetration Test <br> To identify: <br><br> 1. Common Holes in Web<br> 2. Bad Password<br> 3. Directory Traversal<br> 4. Old Directory/Folder<br> 5. SQL/MySQL injection<br> 6. Blind SQL/ MySQL injection – Cross site
                                    scripting
                                    <br> 7. Cross site forgery<br> 8. Bad Configuration<br> 10. CGI-BIN Exploit & etc.</p>
                                <br><br>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-effect" role="tabpanel" aria-labelledby="v-pills-effect-tab">
                            <div class="d-md-flex">
                                <br>
                                <p>To identify:<br><br> 1. Network Mis-configuration<br> 2. Open Port In Client Network – Unknown Port<br> 3. Weird Connections<br> 4. Firewall Configurations & etc.</p>
                                <br><br>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-effect1" role="tabpanel" aria-labelledby="v-pills-effect1-tab">
                            <div class="d-md-flex">
                                <br>
                                <p>Server Security Assessment <br> To identify:<br><br> 1. Weak Server Configuration<br> 2. Weak Password Implementation<br> 3. Unpatched services<br> 4. Old Account<br> 5. Unused account<br> 6. Possible Denial of Service
                                    (DOS/DDOS) & etc.<br><br> Database Security Assessment<br> To identify:<br><br> 1. SQL/MySQL/Oracle/MS Access/Postgres<br> 2. Default configuration (setting & setup)<br> 3. Connection settings<br> 4. Database settings<br>                                    5. User Account settings & etc.</p>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <%- include('components/footer') -%>