<%- include('components/head', {title: "Website & Portal Development"}) -%>
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid px-0">
            <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
                <img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="images/2.png" alt="">
                <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                    <div class="text mt-5">
                        <span class="subheading">SERVICES</span>
                        <h1 class="mb-3"><span>Website & </span> <span>Portal</span> <span>Development</span></h1>
                        <p>Our team use pixels and codes to create beautiful things. We design and develop award-winning portals & websites, using the latest technologies, and follow the best web development standards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3 ftco-animate">
                <div class="col-md-12 text-center heading-section ftco-animate">
                    <h2>We build & manage your Online Presence</h2>
                    <p>Our team offers a complete range web development services, from the conceptualization and design stage, to development and deployment, up until support & maintenance.</p>
                    <br>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-flex align-items-center">
                        <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                            <h3 class="heading">Website Design</h3>
                            <p class="mb-0">Our team develops the overall website Information Architecture (IA), including Site Maps and Layouts. Our Creative Team then designs the corresponding mock-ups, themes , templates.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-flex align-items-center">
                        <div class="media-body pl-4">
                            <h3 class="heading">Website Development</h3>
                            <p class="mb-0">We use Content Management Systems (CMS) like Joomla! and WordPress, and the latest components, plugins, modules, and extensions, with the best practices in security.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-flex align-items-center">
                        <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                            <h3 class="heading">Content Management</h3>
                            <p class="mb-0">To help you manage your online presence, our in-house Content Team, Designers and Translators offer continuous content updating, banner design services, and content translation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-flex align-items-center">
                        <div class="media-body pl-4">
                            <h3 class="heading">Coaching, Training & Support</h3>
                            <p class="mb-0">We have conducted hundreds of hands-on training and coaching, catering to different needs and skill levels, as well as provide maintenance and support services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3 ftco-animate">
                <div class="col-md-12 text-center heading-section ftco-animate">
                    <img src="images/mac1.png" style="float: left; width: 420px; length: 350px;"><br>
                    <h2 style="text-align: right;">5-Star Websites</h2>
                    <p style="text-align: right; margin-left: 45%">We also design and maintain portals & websites for many government ministries and agencies. We are very familiar with the yearly PGPWA (Philippine Government Portals & Website Assessment) and ProBE (Provider-Based Evaluation) criteria
                        commissioned by MAMPU and MDEC.
                    </p>
                </div>
            </div>
        </div>
        <br><br>
        <%- include('components/footer') -%>