<%- include('components/head', {title: "Virus and Malware Removal"}) -%>
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid px-0">
            <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
                <img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="images/3.png" alt="">
                <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                    <div class="text mt-5">
                        <span class="subheading">SERVICES</span>
                        <h1 class="mb-3"><span>Virus and </span> <span>Malware</span> <span>Removal</span></h1>
                        <p>In this service computer technicians ensure that the virus will be removed without risking the important data or information on your computer. You can also get virus removal services online, as well as complete services that include
                            all the steps that are required to get your computer up and running problem-free.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3 ftco-animate">
                    <div class="col-md-12 text-center heading-section ftco-animate">
                        <h2>We remove Viruses and Malware from your computer</h2>
                        <p>Is your computer running slow? Waiting too long for websites and applications to load? If this sounds like you then your computer may be infected with malware or viruses. Annoying pop-ups warning you that your information is stolen,
                            suspicious activity on your computer or programs you don’t recognize are also common symptoms of infection. There are lots of ways your computer can be compromised these days and you need someone you can trust.</p><br><br>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-flex align-items-center">
                            <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                                <h3 class="heading">How Does it Happen</h3>
                                <p class="mb-0">Often times malware come from sources such as; infected websites, junk mail, malicious banner ads and free of charge programs. People usually fall victims to fraudulent programs such as SpySheriff, also known as Brave Sentry,
                                    SpyAxe, SpywareSheriff, Pest Trap, SpyTrooper, Spywareno, and MalwareAlarm, this type of malware disguises itself as an anti-spyware program and attempts to mislead the user into buying the program by repeatedly informing
                                    them of false threats. Such programs are notorious for hijacking the user's computer system and information, usually programmed to find credit card information.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-flex align-items-center">
                            <div class="media-body pl-4">
                                <h3 class="heading">Removing the Malware</h3>
                                <p class="mb-0">Malware embeds itself in Windows, hiding and modifying the system's files with its own code becoming hard to remove. Malware embeds itself into your software, hiding and modifying the system's files, making it difficult
                                    to remove. Because the average user isn't familiar with the sensitive malware removal utilities, it's better left to a professional. That's why our highly experienced computer experts are always available to work on
                                    your case.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-flex align-items-center">
                            <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                                <h3 class="heading">What We Can Do</h3>
                                <p class="mb-0"><br> Installing an antivirus program after the event won't fix the issue since malware and viruses will prevent the program from removing it. Our computer experts use specially designed and developed in-house programs that
                                    will clear your system back up to have it running smoothly. Using our specially developed programs also saves you from the hassle of reinstalling Windows and other applications. After we clean your computer from all
                                    malware and virus, we install state of the art antivirus software to prevent your computer getting infected once again.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-flex align-items-center">
                            <div class="media-body pl-4">
                                <h3 class="heading">Our Service Includes</h3>
                                <p class="mb-0"><br> > Removal of any and all malware, virus, and rootkits from your computer's system.<br> > Repair all issues present on any operating system and test for proper functionality.<br> > System modifications.<br> > Critical
                                    system updates.
                                    <br> > Guidance on how to prevent and avoid future infections to occur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3 ftco-animate">
                    <div class="col-md-12 text-center heading-section ftco-animate">
                        <img src="images/mac1.png" style="float: left; width: 420px; length: 350px;"><br>
                        <h2 style="text-align: right;">Latest Technologies</h2>
                        <p style="text-align: right; margin-left: 45%">Our team of uses the latest technologies in the market to ensure that they clean and secure you computer from any viruses.</p>
                    </div>
                </div>
            </div>
            <br><br>
            <%- include('components/footer') -%>