<%- include('components/head', {title: "Maintenance Services, Systems Setup and Configuration"}) -%>
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid px-0">
            <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
                <img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="images/6.png" alt="">
                <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                    <div class="text mt-5"><br>
                        <span class="subheading">SERVICES</span>
                        <h1 class="mb-3" style="font-size: 50px;"><span>Maintenance Services, </span> <span>Systems Setup</span>
                            <span>and Configuration</span></h1>
                        <p>Your home and business computers require constant updating and tune-ups. This regular maintenance will not only enhance the working speed of your computer, but it will also increase its lifetime. Maintenance service includes file
                            cleanup, upgrading and installing new windows or programs and general inspections.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('components/footer') -%>